MichiSistemaWeb/Connected Services/MichiBackend/ClienteWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://michisistemaws.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ClienteWS" targetNamespace="http://michisistemaws.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/MichiSistemaWS/ClienteWS?xsd=1" namespace="http://michisistemaws.com/" />
    </xsd:schema>
  </types>
  <message name="registrarCliente">
    <part name="parameters" element="tns:registrarCliente" />
  </message>
  <message name="registrarClienteResponse">
    <part name="parameters" element="tns:registrarClienteResponse" />
  </message>
  <message name="obtenerCliente">
    <part name="parameters" element="tns:obtenerCliente" />
  </message>
  <message name="obtenerClienteResponse">
    <part name="parameters" element="tns:obtenerClienteResponse" />
  </message>
  <message name="actualizarCliente">
    <part name="parameters" element="tns:actualizarCliente" />
  </message>
  <message name="actualizarClienteResponse">
    <part name="parameters" element="tns:actualizarClienteResponse" />
  </message>
  <message name="eliminarCliente">
    <part name="parameters" element="tns:eliminarCliente" />
  </message>
  <message name="eliminarClienteResponse">
    <part name="parameters" element="tns:eliminarClienteResponse" />
  </message>
  <message name="listarClientes">
    <part name="parameters" element="tns:listarClientes" />
  </message>
  <message name="listarClientesResponse">
    <part name="parameters" element="tns:listarClientesResponse" />
  </message>
  <portType name="ClienteWS">
    <operation name="registrarCliente">
      <input wsam:Action="http://michisistemaws.com/ClienteWS/registrarClienteRequest" message="tns:registrarCliente" />
      <output wsam:Action="http://michisistemaws.com/ClienteWS/registrarClienteResponse" message="tns:registrarClienteResponse" />
    </operation>
    <operation name="obtenerCliente">
      <input wsam:Action="http://michisistemaws.com/ClienteWS/obtenerClienteRequest" message="tns:obtenerCliente" />
      <output wsam:Action="http://michisistemaws.com/ClienteWS/obtenerClienteResponse" message="tns:obtenerClienteResponse" />
    </operation>
    <operation name="actualizarCliente">
      <input wsam:Action="http://michisistemaws.com/ClienteWS/actualizarClienteRequest" message="tns:actualizarCliente" />
      <output wsam:Action="http://michisistemaws.com/ClienteWS/actualizarClienteResponse" message="tns:actualizarClienteResponse" />
    </operation>
    <operation name="eliminarCliente">
      <input wsam:Action="http://michisistemaws.com/ClienteWS/eliminarClienteRequest" message="tns:eliminarCliente" />
      <output wsam:Action="http://michisistemaws.com/ClienteWS/eliminarClienteResponse" message="tns:eliminarClienteResponse" />
    </operation>
    <operation name="listarClientes">
      <input wsam:Action="http://michisistemaws.com/ClienteWS/listarClientesRequest" message="tns:listarClientes" />
      <output wsam:Action="http://michisistemaws.com/ClienteWS/listarClientesResponse" message="tns:listarClientesResponse" />
    </operation>
  </portType>
  <binding name="ClienteWSPortBinding" type="tns:ClienteWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="registrarCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarClientes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ClienteWS">
    <port name="ClienteWSPort" binding="tns:ClienteWSPortBinding">
      <soap:address location="http://localhost:8080/MichiSistemaWS/ClienteWS" />
    </port>
  </service>
</definitions>