MichiSistemaWeb/Connected Services/MichiBackend/EventoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://michisistemaws.com/" targetNamespace="http://michisistemaws.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listarEvento" type="tns:listarEvento" />
  <xs:element name="listarEventoResponse" type="tns:listarEventoResponse" />
  <xs:complexType name="listarEvento">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEventoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:evento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="evento">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoPostal" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element name="evento_id" type="xs:int" />
      <xs:element minOccurs="0" name="fechaFin" type="tns:localDate" />
      <xs:element minOccurs="0" name="fechaInicio" type="tns:localDate" />
      <xs:element minOccurs="0" name="horaFin" type="tns:localTime" />
      <xs:element minOccurs="0" name="horaInicio" type="tns:localTime" />
      <xs:element minOccurs="0" name="tipoEvento" type="tns:tipoEvento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localDate" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="localTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:simpleType name="tipoEvento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BODA" />
      <xs:enumeration value="CUMPLEANHOS" />
      <xs:enumeration value="CONCIERTO" />
      <xs:enumeration value="GRADUACION" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>