MichiSistemaWeb/Connected Services/MichiBackend/OrdenWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://michisistemaws.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="OrdenWS" targetNamespace="http://michisistemaws.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/MichiSistemaWS/OrdenWS?xsd=1" namespace="http://michisistemaws.com/" />
    </xsd:schema>
  </types>
  <message name="actualizarEstadoDevolucion">
    <part name="parameters" element="tns:actualizarEstadoDevolucion" />
  </message>
  <message name="actualizarEstadoDevolucionResponse">
    <part name="parameters" element="tns:actualizarEstadoDevolucionResponse" />
  </message>
  <message name="actualizarEstadoFechaDevolucion">
    <part name="parameters" element="tns:actualizarEstadoFechaDevolucion" />
  </message>
  <message name="actualizarEstadoFechaDevolucionResponse">
    <part name="parameters" element="tns:actualizarEstadoFechaDevolucionResponse" />
  </message>
  <message name="registrarOrden">
    <part name="parameters" element="tns:registrarOrden" />
  </message>
  <message name="registrarOrdenResponse">
    <part name="parameters" element="tns:registrarOrdenResponse" />
  </message>
  <message name="obtenerOrden">
    <part name="parameters" element="tns:obtenerOrden" />
  </message>
  <message name="obtenerOrdenResponse">
    <part name="parameters" element="tns:obtenerOrdenResponse" />
  </message>
  <message name="eliminarOrden">
    <part name="parameters" element="tns:eliminarOrden" />
  </message>
  <message name="eliminarOrdenResponse">
    <part name="parameters" element="tns:eliminarOrdenResponse" />
  </message>
  <message name="listarOrdenes">
    <part name="parameters" element="tns:listarOrdenes" />
  </message>
  <message name="listarOrdenesResponse">
    <part name="parameters" element="tns:listarOrdenesResponse" />
  </message>
  <message name="actualizarOrden">
    <part name="parameters" element="tns:actualizarOrden" />
  </message>
  <message name="actualizarOrdenResponse">
    <part name="parameters" element="tns:actualizarOrdenResponse" />
  </message>
  <portType name="OrdenWS">
    <operation name="actualizarEstadoDevolucion">
      <input wsam:Action="http://michisistemaws.com/OrdenWS/actualizarEstadoDevolucionRequest" message="tns:actualizarEstadoDevolucion" />
      <output wsam:Action="http://michisistemaws.com/OrdenWS/actualizarEstadoDevolucionResponse" message="tns:actualizarEstadoDevolucionResponse" />
    </operation>
    <operation name="actualizarEstadoFechaDevolucion">
      <input wsam:Action="http://michisistemaws.com/OrdenWS/actualizarEstadoFechaDevolucionRequest" message="tns:actualizarEstadoFechaDevolucion" />
      <output wsam:Action="http://michisistemaws.com/OrdenWS/actualizarEstadoFechaDevolucionResponse" message="tns:actualizarEstadoFechaDevolucionResponse" />
    </operation>
    <operation name="registrarOrden">
      <input wsam:Action="http://michisistemaws.com/OrdenWS/registrarOrdenRequest" message="tns:registrarOrden" />
      <output wsam:Action="http://michisistemaws.com/OrdenWS/registrarOrdenResponse" message="tns:registrarOrdenResponse" />
    </operation>
    <operation name="obtenerOrden">
      <input wsam:Action="http://michisistemaws.com/OrdenWS/obtenerOrdenRequest" message="tns:obtenerOrden" />
      <output wsam:Action="http://michisistemaws.com/OrdenWS/obtenerOrdenResponse" message="tns:obtenerOrdenResponse" />
    </operation>
    <operation name="eliminarOrden">
      <input wsam:Action="http://michisistemaws.com/OrdenWS/eliminarOrdenRequest" message="tns:eliminarOrden" />
      <output wsam:Action="http://michisistemaws.com/OrdenWS/eliminarOrdenResponse" message="tns:eliminarOrdenResponse" />
    </operation>
    <operation name="listarOrdenes">
      <input wsam:Action="http://michisistemaws.com/OrdenWS/listarOrdenesRequest" message="tns:listarOrdenes" />
      <output wsam:Action="http://michisistemaws.com/OrdenWS/listarOrdenesResponse" message="tns:listarOrdenesResponse" />
    </operation>
    <operation name="actualizarOrden">
      <input wsam:Action="http://michisistemaws.com/OrdenWS/actualizarOrdenRequest" message="tns:actualizarOrden" />
      <output wsam:Action="http://michisistemaws.com/OrdenWS/actualizarOrdenResponse" message="tns:actualizarOrdenResponse" />
    </operation>
  </portType>
  <binding name="OrdenWSPortBinding" type="tns:OrdenWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="actualizarEstadoDevolucion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarEstadoFechaDevolucion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registrarOrden">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerOrden">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarOrden">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarOrdenes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarOrden">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="OrdenWS">
    <port name="OrdenWSPort" binding="tns:OrdenWSPortBinding">
      <soap:address location="http://localhost:8080/MichiSistemaWS/OrdenWS" />
    </port>
  </service>
</definitions>