MichiSistemaWeb/Connected Services/MichiBackend/ProductoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="com.MichiSistema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProductoWS" targetNamespace="com.MichiSistema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/MichiSistemaWS/ProductoWS?xsd=1" namespace="com.MichiSistema" />
    </xsd:schema>
  </types>
  <message name="eliminarProducto">
    <part name="parameters" element="tns:eliminarProducto" />
  </message>
  <message name="eliminarProductoResponse">
    <part name="parameters" element="tns:eliminarProductoResponse" />
  </message>
  <message name="registrarProducto">
    <part name="parameters" element="tns:registrarProducto" />
  </message>
  <message name="registrarProductoResponse">
    <part name="parameters" element="tns:registrarProductoResponse" />
  </message>
  <message name="obtenerProducto">
    <part name="parameters" element="tns:obtenerProducto" />
  </message>
  <message name="obtenerProductoResponse">
    <part name="parameters" element="tns:obtenerProductoResponse" />
  </message>
  <message name="actualizarProducto">
    <part name="parameters" element="tns:actualizarProducto" />
  </message>
  <message name="actualizarProductoResponse">
    <part name="parameters" element="tns:actualizarProductoResponse" />
  </message>
  <message name="listarTipoProducto">
    <part name="parameters" element="tns:listarTipoProducto" />
  </message>
  <message name="listarTipoProductoResponse">
    <part name="parameters" element="tns:listarTipoProductoResponse" />
  </message>
  <message name="listarProductos">
    <part name="parameters" element="tns:listarProductos" />
  </message>
  <message name="listarProductosResponse">
    <part name="parameters" element="tns:listarProductosResponse" />
  </message>
  <message name="listaProductosActivos">
    <part name="parameters" element="tns:listaProductosActivos" />
  </message>
  <message name="listaProductosActivosResponse">
    <part name="parameters" element="tns:listaProductosActivosResponse" />
  </message>
  <message name="listarProductosPorNombre">
    <part name="parameters" element="tns:listarProductosPorNombre" />
  </message>
  <message name="listarProductosPorNombreResponse">
    <part name="parameters" element="tns:listarProductosPorNombreResponse" />
  </message>
  <message name="listarProductosPorTipo">
    <part name="parameters" element="tns:listarProductosPorTipo" />
  </message>
  <message name="listarProductosPorTipoResponse">
    <part name="parameters" element="tns:listarProductosPorTipoResponse" />
  </message>
  <portType name="ProductoWS">
    <operation name="eliminarProducto">
      <input wsam:Action="com.MichiSistema/ProductoWS/eliminarProductoRequest" message="tns:eliminarProducto" />
      <output wsam:Action="com.MichiSistema/ProductoWS/eliminarProductoResponse" message="tns:eliminarProductoResponse" />
    </operation>
    <operation name="registrarProducto">
      <input wsam:Action="com.MichiSistema/ProductoWS/registrarProductoRequest" message="tns:registrarProducto" />
      <output wsam:Action="com.MichiSistema/ProductoWS/registrarProductoResponse" message="tns:registrarProductoResponse" />
    </operation>
    <operation name="obtenerProducto">
      <input wsam:Action="com.MichiSistema/ProductoWS/obtenerProductoRequest" message="tns:obtenerProducto" />
      <output wsam:Action="com.MichiSistema/ProductoWS/obtenerProductoResponse" message="tns:obtenerProductoResponse" />
    </operation>
    <operation name="actualizarProducto">
      <input wsam:Action="com.MichiSistema/ProductoWS/actualizarProductoRequest" message="tns:actualizarProducto" />
      <output wsam:Action="com.MichiSistema/ProductoWS/actualizarProductoResponse" message="tns:actualizarProductoResponse" />
    </operation>
    <operation name="listarTipoProducto">
      <input wsam:Action="com.MichiSistema/ProductoWS/listarTipoProductoRequest" message="tns:listarTipoProducto" />
      <output wsam:Action="com.MichiSistema/ProductoWS/listarTipoProductoResponse" message="tns:listarTipoProductoResponse" />
    </operation>
    <operation name="listarProductos">
      <input wsam:Action="com.MichiSistema/ProductoWS/listarProductosRequest" message="tns:listarProductos" />
      <output wsam:Action="com.MichiSistema/ProductoWS/listarProductosResponse" message="tns:listarProductosResponse" />
    </operation>
    <operation name="listaProductosActivos">
      <input wsam:Action="com.MichiSistema/ProductoWS/listaProductosActivosRequest" message="tns:listaProductosActivos" />
      <output wsam:Action="com.MichiSistema/ProductoWS/listaProductosActivosResponse" message="tns:listaProductosActivosResponse" />
    </operation>
    <operation name="listarProductosPorNombre">
      <input wsam:Action="com.MichiSistema/ProductoWS/listarProductosPorNombreRequest" message="tns:listarProductosPorNombre" />
      <output wsam:Action="com.MichiSistema/ProductoWS/listarProductosPorNombreResponse" message="tns:listarProductosPorNombreResponse" />
    </operation>
    <operation name="listarProductosPorTipo">
      <input wsam:Action="com.MichiSistema/ProductoWS/listarProductosPorTipoRequest" message="tns:listarProductosPorTipo" />
      <output wsam:Action="com.MichiSistema/ProductoWS/listarProductosPorTipoResponse" message="tns:listarProductosPorTipoResponse" />
    </operation>
  </portType>
  <binding name="ProductoWSPortBinding" type="tns:ProductoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registrarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTipoProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProductos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listaProductosActivos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProductosPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProductosPorTipo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ProductoWS">
    <port name="ProductoWSPort" binding="tns:ProductoWSPortBinding">
      <soap:address location="http://localhost:8080/MichiSistemaWS/ProductoWS" />
    </port>
  </service>
</definitions>