MichiSistemaWeb/Connected Services/MichiBackend/ProductoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://michisistemaws.com/" targetNamespace="http://michisistemaws.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listarProductos" type="tns:listarProductos" />
  <xs:element name="listarProductosResponse" type="tns:listarProductosResponse" />
  <xs:complexType name="listarProductos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarProductosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoriaProducto" type="tns:tipoProducto" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="edad_minima" type="xs:int" />
      <xs:element name="estado" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precio" type="xs:double" />
      <xs:element name="producto_id" type="xs:int" />
      <xs:element name="stockActual" type="xs:int" />
      <xs:element name="stockMinimo" type="xs:int" />
      <xs:element minOccurs="0" name="unidadMedida" type="tns:unidadMedida" />
      <xs:element name="volumen" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoProducto">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DECORACION" />
      <xs:enumeration value="ENVASE" />
      <xs:enumeration value="REGALO" />
      <xs:enumeration value="EQUIPO_AUDIOVISUAL" />
      <xs:enumeration value="VESTIMENTA" />
      <xs:enumeration value="INVITACION" />
      <xs:enumeration value="MOBILIARIO" />
      <xs:enumeration value="TECNOLOGIA" />
      <xs:enumeration value="OTRO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="unidadMedida">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PULGADA" />
      <xs:enumeration value="PIE" />
      <xs:enumeration value="YARDA" />
      <xs:enumeration value="ONZA" />
      <xs:enumeration value="LIBRA" />
      <xs:enumeration value="TONELADA_CORTA" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>