MichiSistemaWeb/Connected Services/MichiBackend/TrabajadorWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="com.MichiSistema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="TrabajadorWS" targetNamespace="com.MichiSistema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/MichiSistemaWS/TrabajadorWS?xsd=1" namespace="com.MichiSistema" />
    </xsd:schema>
  </types>
  <message name="eliminarTrabajador">
    <part name="parameters" element="tns:eliminarTrabajador" />
  </message>
  <message name="eliminarTrabajadorResponse">
    <part name="parameters" element="tns:eliminarTrabajadorResponse" />
  </message>
  <message name="listarTrabajadores">
    <part name="parameters" element="tns:listarTrabajadores" />
  </message>
  <message name="listarTrabajadoresResponse">
    <part name="parameters" element="tns:listarTrabajadoresResponse" />
  </message>
  <message name="obtenerTrabajador">
    <part name="parameters" element="tns:obtenerTrabajador" />
  </message>
  <message name="obtenerTrabajadorResponse">
    <part name="parameters" element="tns:obtenerTrabajadorResponse" />
  </message>
  <message name="registrarTrabajador">
    <part name="parameters" element="tns:registrarTrabajador" />
  </message>
  <message name="registrarTrabajadorResponse">
    <part name="parameters" element="tns:registrarTrabajadorResponse" />
  </message>
  <message name="listaTrabajadoresPorNombre">
    <part name="parameters" element="tns:listaTrabajadoresPorNombre" />
  </message>
  <message name="listaTrabajadoresPorNombreResponse">
    <part name="parameters" element="tns:listaTrabajadoresPorNombreResponse" />
  </message>
  <message name="reporteTrabajadores">
    <part name="parameters" element="tns:reporteTrabajadores" />
  </message>
  <message name="reporteTrabajadoresResponse">
    <part name="parameters" element="tns:reporteTrabajadoresResponse" />
  </message>
  <message name="actualizarTrabajador">
    <part name="parameters" element="tns:actualizarTrabajador" />
  </message>
  <message name="actualizarTrabajadorResponse">
    <part name="parameters" element="tns:actualizarTrabajadorResponse" />
  </message>
  <message name="listaTrabajadoresActivos">
    <part name="parameters" element="tns:listaTrabajadoresActivos" />
  </message>
  <message name="listaTrabajadoresActivosResponse">
    <part name="parameters" element="tns:listaTrabajadoresActivosResponse" />
  </message>
  <portType name="TrabajadorWS">
    <operation name="eliminarTrabajador">
      <input wsam:Action="com.MichiSistema/TrabajadorWS/eliminarTrabajadorRequest" message="tns:eliminarTrabajador" />
      <output wsam:Action="com.MichiSistema/TrabajadorWS/eliminarTrabajadorResponse" message="tns:eliminarTrabajadorResponse" />
    </operation>
    <operation name="listarTrabajadores">
      <input wsam:Action="com.MichiSistema/TrabajadorWS/listarTrabajadoresRequest" message="tns:listarTrabajadores" />
      <output wsam:Action="com.MichiSistema/TrabajadorWS/listarTrabajadoresResponse" message="tns:listarTrabajadoresResponse" />
    </operation>
    <operation name="obtenerTrabajador">
      <input wsam:Action="com.MichiSistema/TrabajadorWS/obtenerTrabajadorRequest" message="tns:obtenerTrabajador" />
      <output wsam:Action="com.MichiSistema/TrabajadorWS/obtenerTrabajadorResponse" message="tns:obtenerTrabajadorResponse" />
    </operation>
    <operation name="registrarTrabajador">
      <input wsam:Action="com.MichiSistema/TrabajadorWS/registrarTrabajadorRequest" message="tns:registrarTrabajador" />
      <output wsam:Action="com.MichiSistema/TrabajadorWS/registrarTrabajadorResponse" message="tns:registrarTrabajadorResponse" />
    </operation>
    <operation name="listaTrabajadoresPorNombre">
      <input wsam:Action="com.MichiSistema/TrabajadorWS/listaTrabajadoresPorNombreRequest" message="tns:listaTrabajadoresPorNombre" />
      <output wsam:Action="com.MichiSistema/TrabajadorWS/listaTrabajadoresPorNombreResponse" message="tns:listaTrabajadoresPorNombreResponse" />
    </operation>
    <operation name="reporteTrabajadores">
      <input wsam:Action="com.MichiSistema/TrabajadorWS/reporteTrabajadoresRequest" message="tns:reporteTrabajadores" />
      <output wsam:Action="com.MichiSistema/TrabajadorWS/reporteTrabajadoresResponse" message="tns:reporteTrabajadoresResponse" />
    </operation>
    <operation name="actualizarTrabajador">
      <input wsam:Action="com.MichiSistema/TrabajadorWS/actualizarTrabajadorRequest" message="tns:actualizarTrabajador" />
      <output wsam:Action="com.MichiSistema/TrabajadorWS/actualizarTrabajadorResponse" message="tns:actualizarTrabajadorResponse" />
    </operation>
    <operation name="listaTrabajadoresActivos">
      <input wsam:Action="com.MichiSistema/TrabajadorWS/listaTrabajadoresActivosRequest" message="tns:listaTrabajadoresActivos" />
      <output wsam:Action="com.MichiSistema/TrabajadorWS/listaTrabajadoresActivosResponse" message="tns:listaTrabajadoresActivosResponse" />
    </operation>
  </portType>
  <binding name="TrabajadorWSPortBinding" type="tns:TrabajadorWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarTrabajador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTrabajadores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerTrabajador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registrarTrabajador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listaTrabajadoresPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="reporteTrabajadores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarTrabajador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listaTrabajadoresActivos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="TrabajadorWS">
    <port name="TrabajadorWSPort" binding="tns:TrabajadorWSPortBinding">
      <soap:address location="http://localhost:8080/MichiSistemaWS/TrabajadorWS" />
    </port>
  </service>
</definitions>