MichiSistemaWeb/Connected Services/MichiBackend/TrabajadorWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://michisistemaws.com/" targetNamespace="http://michisistemaws.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listarTrabajadores" type="tns:listarTrabajadores" />
  <xs:element name="listarTrabajadoresResponse" type="tns:listarTrabajadoresResponse" />
  <xs:complexType name="listarTrabajadores">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTrabajadoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:trabajador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="trabajador">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="tipoTrabajador" type="tns:tipoTrabajador" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element name="celular" type="xs:int" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element name="persona_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoTrabajador">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DESPACHADOR" />
      <xs:enumeration value="DELIVERY" />
      <xs:enumeration value="ASISTENTE" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>